{extend name="./layout/list.html" /}

{block name="body"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="top">
            <div class="position_lead">
                <i class="iconfont icon-navigation"></i>
                <a href="#">{:session('language') == '中文'? '数据统计' : 'Project Management'}</a>
                <a class="on">{:session('language') == '中文'? '每日提交页数统计' : 'Day to Day follow up'}</a>
            </div>

        </div>
        <form class="layui-form layui-inline" action="/admin/statistics/dayup" id="sub">
            <div class="layui-form-item">
                <label class="layui-form-label">选择日期</label>
                <div class="layui-input-block">
                    <input type="date" name="month" placeholder="" value="{:input('month')}" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </form>


        <div class="forwardTable farTable">
            <table class="layui-hide" id="test" lay-filter="test">
                <span style="color:red;margin-left:35px;font-size: 20px;">未提交页数：{$wtj}</span>
            </table>
        </div>

    </div>
</div>

<div id="main" style="height:400px;"></div>
{/block}

{block name="js"}
{js href="__JS__/jquery-3.3.1.min.js"}
<!--库文件-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=iSyHvmega5x4qy23DSPlCxE09dLz5qTM"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
<script>
    var tableIns;  // 数据表格对象，用于重载
    layui.use(['table', 'form'], function () {
        var table = layui.table, form = layui.form;

        // 切换语言
        var language = "{:session('language') == '中文'? '中文' : 'english'}";
        // 数据表格字段
        var time = $("input[name='month']").val();


        var myDate = new Date();
        var myYear = myDate.getFullYear(); //获取完整的年份(4位,1970-????)
        var myMonth = myDate.getMonth() + 1; //获取当前月份(0-11,0代表1月)
        var myToday = myDate.getDate(); //获取当前日(1-31)
        var time1 = myYear+'-'+myMonth+'-'+myToday;

        if(!time){
            time = time1;
        }
        var url = "{:url('statistics/dayup')}" +  '?month=' + time;
        var cols;
        if (language === '中文') {

            cols = [
                {field: 'job', title: '岗位名称',sort:true, minWidth: 100, align: 'center',totalRowText: '合计'}
                ,{field: 'name', title: '姓名', minWidth: 100, align: 'center'}
                , {field: 'rz', title: '入职日期', minWidth: 100, align: 'center'}
                , {field: 'pb', title: '排版页数', minWidth: 100, align: 'center'}
                , {field: 'tr', title: '翻译页数', minWidth: 180, align: 'center'}
                , {field: 'tr_zs', title: '翻译字数', minWidth: 180, align: 'center'}
                , {field: 'jd', title: '校对页数', minWidth: 180, align: 'center'}
                , {field: 'jd_zs', title: '校对字数', minWidth: 180, align: 'center'}

            ];


        } else {

            cols = [
                {field: 'job', title: 'Job',sort:true, minWidth: 100, align: 'center',totalRowText: '合计'}
                ,{field: 'name', title: 'Name', minWidth: 100, align: 'center', totalRowText: '合计'}
                , {field: 'rz', title: 'Date on board', minWidth: 100, align: 'center'}
                , {field: 'pb', title: 'Nb Page formated', minWidth: 100, align: 'center'}
                , {field: 'tr', title: 'Nb page translated', minWidth: 180, align: 'center'}
                , {field: 'tr_zs', title: 'Translate number', minWidth: 180, align: 'center'}
                , {field: 'jd', title: 'Nb page revised', minWidth: 180, align: 'center'}
                , {field: 'jd_zs', title: 'Revise number', minWidth: 180, align: 'center'}

            ];


        }
        //console.log(cols);


        cols = [cols];


        // 生成表格
        tableIns = table.render({
            elem: '#test'
            , url: url
            , where: {}
            , toolbar: '#forwardBar'
            , defaultToolbar: ['filter', 'exports', 'print']
            , title: '小组每日页数统计'
            , totalRow: true
            , cols: cols
            , limit: 100, height: 'full-200',
            even: true,
            page: {
                curr: location.hash.replace('#!fenye=', ''),
                hash: 'fenye',
                limits: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            },
        });
    });
</script>


<script>
    $("input[name='month']").change(function () {
        console.log($("input[name='month']").val())
        $('#sub').submit();
    })
</script>

{/block}