{extend name="./layout/list.html" /}

{block name="body"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="top">
            <div class="position_lead">
                <i class="iconfont icon-navigation"></i>
                <a href="#">{:session('language') == '中文'? '数据统计' : 'Project Management'}</a>
                <a class="on">{:session('language') == '中文'? '项目组长文件统计' : 'Document Statistics of Project Leader'}</a>
            </div>

        </div>
        <form class="layui-form layui-inline" action="/admin/statistics/pa" id="sub">
            <div class="layui-form-item">
                <label class="layui-form-label">{:session('language') == '中文'? '月份选择' : 'Select Month'}</label>
                <div class="layui-input-block">
                    <input type="month" name="month" placeholder="" value="{:input('month')}" autocomplete="off" class="layui-input">
                </div>
            </div>
        </form>
        <div class="layui-form">
            <table class="layui-table" lay-filter="demo" lay-data="{ url:'/admin/statistics/pa?month={:input('month')}',id:'test',page:'false',limit:99999,toolbar: true,}">
                <thead >
                <tr>
                    <th lay-data="{field:'PA',sort: true}">{:session('language') == '中文'? '项目组长' : 'project leader'}</th>
                    <th lay-data="{field:'sumpage',sort:true}">{:session('language') == '中文'? '本月来稿文件总页数' : 'Total pages of documents Contribute this month'}</th>
                    <th lay-data="{field:'num',sort: true}">{:session('language') == '中文'? '本月来稿文件总份数' : 'Total number of documents Contribute this month'}</th>
                    <th lay-data="{field:'sumword',sort: true}">{:session('language') == '中文'? '本月来稿文件总字数' : 'Total words of documents Contribute this month'}</th>
                </tr>
                </thead>

            </table>
            <table class="layui-table" lay-filter="demo2" lay-data="{limit:30,toolbar: true,}">
                <thead >
                <tr>
                    <th lay-data="{field:'PA',sort: true}">{:session('language') == '中文'? '项目组长' : 'project leader'}</th>
                    <th lay-data="{field:'sumpage2',sort:true}">{:session('language') == '中文'? '本月已提交文件总页数' : 'Total pages of documents submitted this month'}</th>
                    <th lay-data="{field:'num2',sort: true}">{:session('language') == '中文'? '本月已提交文件总份数' : 'Total number of documents submitted this month'}</th>
                    <th lay-data="{field:'sumword2',sort: true}">{:session('language') == '中文'? '本月已提交文件总字数' : 'Total words of documents submitted this month'}</th>
                </tr>
                </thead>
                <tbody>
                {foreach $pa3 as $key=>$vo }
                <tr>
                    <td>{$vo.PA}</td>
                    <td>{$vo.sumpage2}</td>
                    <td>{$vo.num2}</td>
                    <td>{$vo.sumword2}</td>
                </tr>
                {/foreach}
                </tbody>
            </table>
            <table class="layui-table" lay-filter="demo1" lay-data="{limit:30,toolbar: true,}">
                <thead >
             <tr>
                <th lay-data="{field:'PA',sort: true}">{:session('language') == '中文'? '项目组长' : 'project leader'}</th>
                <th lay-data="{field:'sumpage1',sort:true}">{:session('language') == '中文'? '未提交文件总页数' : 'Total pages of documents not submitted'}</th>
                <th lay-data="{field:'num1',sort: true}">{:session('language') == '中文'? '未提交文件总份数' : 'Total number of documents not submitted'}</th>
                 <th lay-data="{field:'sumword1',sort: true}">{:session('language') == '中文'? '未提交文件总字数' : 'Total words of documents not submitted'}</th>
            </tr> 
                </thead>
                <tbody>
                {foreach $pa2 as $key=>$v1 }
                <tr>
                <td>{$v1.PA}</td>
                <td>{$v1.sumpage1}</td>
                <td>{$v1.num1}</td>
                <td>{$v1.sumword1}</td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="main" style="height:400px;"></div>
{/block}

{block name="js"}
{js href="__JS__/jquery-3.3.1.min.js"}
<!--库文件-->
<script>
    layui.use('table', function() {
        var table = layui.table;
        // console.log(table);
//转换静态表格(排序有问题)
//         table.init('demo', {
//             toolbar: true,
//             title:'页数统计表',
//             limit:300,
//         });
    });

</script>

<script>
    $("input[name='month']").change(function () {
        console.log( $("input[name='month']").val())
        $('#sub').submit();
    })
</script>

{/block}