{extend name="./layout/list.html" /}

{block name="body"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="top">
            <div class="position_lead">
                <i class="iconfont icon-navigation"></i>
                <a href="#">{:session('language') == '中文'? '数据统计' : 'Data Statistics'}</a>
                <a class="on">{:session('language') == '中文'? '每日项目通道' : 'Daily Project Funnel'}</a>
            </div>

        </div>
            <form class="layui-form layui-inline" action="/admin/statistics/pagesum" id="sub">
                <div class="layui-form-item">
                    <label class="layui-form-label">{:session('language') == '中文'? '月份选择' : 'Select Month'}</label>
                    <div class="layui-input-block">
                        <input type="month" name="month" placeholder="" value="{:input('month')}" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </form>
        <div class="global_btn">
            <a class="layui-btn com_btn" id="sjth">{:session('language') == '中文'? '数据计算' : 'Data Calculation'}</a>
        </div>
        <div class="layui-form">
            <table class="layui-table" lay-filter="demo" lay-data="{ url:'/admin/statistics/pagesum?month={:input('month')}',id:'test',page:'false',limit:99999,toolbar: true,}">
                <thead >
                <tr>
                    <th lay-data="{checkbox:true}"></th>
                    <th lay-data="{field:'date',sort: true}">{:session('language') == '中文'? '日期' : 'Date'}</th>
                    <th lay-data="{field:'sumpage',sort:true}">{:session('language') == '中文'? '当天需提交页数' : 'Number of pages to be submitted on the same day'}</th>
                    <th lay-data="{field:'yppage',sort: true}">{:session('language') == '中文'? '预排完成页数' : 'Pre scheduled pages'}</th>
                    <th lay-data="{field:'trpage',sort: true}">{:session('language') == '中文'? '翻译完成页数' : 'Translation completed pages'}</th>
                    <th lay-data="{field:'xdpage',sort: true}">{:session('language') == '中文'? '校对完成页数' : 'Proofreading completed pages'}</th>
                    <th lay-data="{field:'hppage',sort: true}">{:session('language') == '中文'? '后排完成页数' : 'Post scheduled pages'} </th>
                </tr>
                </thead>
                <!--<tbody>-->
                <!--&lt;!&ndash;{foreach $list as $key=>$vo }&ndash;&gt;-->
                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                     <!--&lt;!&ndash;<td>{$vo.date}</td>&ndash;&gt;-->
                     <!--&lt;!&ndash;<td>{$vo.sumpage|default=0}  </td>&ndash;&gt;-->
                     <!--&lt;!&ndash;&lt;!&ndash;<td>{$vo.yppage|default=0}  </td>&ndash;&gt;&ndash;&gt;-->
                     <!--&lt;!&ndash;&lt;!&ndash;<td>{$vo.trpage|default=0}  </td>&ndash;&gt;&ndash;&gt;-->
                     <!--&lt;!&ndash;&lt;!&ndash;<td>{$vo.xdpage|default=0}  </td>&ndash;&gt;&ndash;&gt;-->
                     <!--&lt;!&ndash;&lt;!&ndash;<td>{$vo.hppage|default=0}  </td>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                <!--&lt;!&ndash;{/foreach}&ndash;&gt;-->
                <!--</tbody>-->
            </table>
        </div>
    </div>
</div>

<div id="main" style="height:400px;"></div>
{/block}

{block name="js"}
{js href="__JS__/jquery-3.3.1.min.js"}
<!--库文件-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=iSyHvmega5x4qy23DSPlCxE09dLz5qTM"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>-->
<script type="text/javascript" src="__STATIC__/js/echarts.min.js"></script>
<script>
    layui.use('table', function() {
        var table = layui.table;
        // console.log(table);
//转换静态表格(排序有问题)
//         table.init('demo', {
//             toolbar: true,
//             title:'页数统计表',
//             limit:300,
//         });
        $('#sjth').click(function () {
            var checkStatus = table.checkStatus('test');
            var len = checkStatus.data.length;
            var sum1=0,sum2=0,sum3=0,sum4=0,sum5=0;
            for (v in checkStatus.data) {

                if(checkStatus.data[v]['sumpage']){
                    sum1 += checkStatus.data[v]['sumpage'];
                }
                if(checkStatus.data[v]['yppage']){
                    sum2 += checkStatus.data[v]['yppage'];
                }
                if(checkStatus.data[v]['trpage']){
                    sum3 += checkStatus.data[v]['trpage'];
                }
                if(checkStatus.data[v]['xdpage']){
                    sum4 += checkStatus.data[v]['xdpage'];
                }
                if(checkStatus.data[v]['hppage']){
                    sum5 += checkStatus.data[v]['hppage'];
                }

            }

            var msg = "提交总和:" + sum1 + ';平均数:' + (sum1/len).toFixed(1) + "<br>预排总和:" + sum2 + ';平均数:' + (sum2/len).toFixed(1)
                + "<br>翻译总和:" + sum3 + ';平均数:' + (sum3/len).toFixed(1) + "<br>校对总和:" + sum4 + ';平均数:' + (sum4/len).toFixed(1)
                + "<br>后排总和:" + sum5 + ';平均数:' + (sum5/len).toFixed(1);

            $('#jisuan').html(msg)
            layer.alert(msg);
            // console.log(num);
        })


    });
</script>

<script type="text/javascript">

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var mon = {$mon|raw};
    var char = {$char|raw};
    // 指定图表的配置项和数据
    var option = {

        tooltip: {
        },

        xAxis: {
            data:mon
        },
        yAxis: {},
        series: char,

    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<script>
    $("input[name='month']").change(function () {
        console.log( $("input[name='month']").val())
        $('#sub').submit();
    })
</script>

{/block}