{extend name="./layout/list.html" /}

{block name="body"}
<div class="layui-card">
    <div class="layui-card-body">
        <div class="top">
            <div class="position_lead">
                <i class="iconfont icon-navigation"></i>
                <a href="#">{:session('language') == '中文'? '数据统计' : 'Data Statistics'}</a>
                <a class="on">{:session('language') == '中文'? '各组排版页数统计' : 'Statistics of layout pages of each group'}</a>
            </div>
            <div class="global_btn">
                <a class="layui-btn com_btn" id="sjth">{:session('language') == '中文'? '数据计算' : 'Data Calculation'}</a>

            </div>
        </div>
        <form class="layui-form layui-inline" action="/admin/statistics/pb_page" id="sub">
            <div class="layui-form-item">
                <label class="layui-form-label">{:session('language') == '中文'? '选择月份' : 'Select Month'}</label>
                <div class="layui-input-block">
                    <input type="month" name="month" placeholder="" value="{:input('month')}" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{:session('language') == '中文'? '项目组长' : 'Select PL'}</label>
                <div class="layui-input-inline">
                    <select id="pa" name="pa" lay-filter="pa">
                        <option value="PA01" {$pa=='PA01'?'selected':''}>PA01 </option>
                        <option value="PA04" {$pa=='PA04'?'selected':''}>PA04 </option>
                        <option value="PA05" {$pa=='PA05'?'selected':''}>PA05 </option>
                        <option value="PA06" {$pa=='PA06'?'selected':''}>PA06 </option>
                        <option value="PA12" {$pa=='PA12'?'selected':''}>PA12 </option>
                    </select>
                </div>
            </div>
        </form>

        <div class="forwardTable farTable">
            <table class="layui-hide" id="test" lay-filter="test">

            </table>
        </div>
    </div>
</div>

<div id="main" style="height:400px;"></div>
{/block}

{block name="js"}
{js href="__JS__/jquery-3.3.1.min.js"}
<!--库文件-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=iSyHvmega5x4qy23DSPlCxE09dLz5qTM"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>-->
<script>
    var tableIns;  // 数据表格对象，用于重载
    layui.use(['table', 'form'], function () {
        var table = layui.table, form = layui.form;

        // 切换语言
        var language = "{:session('language') == '中文'? '中文' : 'english'}";
        // 数据表格字段
        var time = $("input[name='month']").val();
        var pa =  $("#pa").find("option:selected").val();

        var myDate = new Date();
        var myYear = myDate.getFullYear(); //获取完整的年份(4位,1970-????)
        var myMonth = myDate.getMonth() + 1; //获取当前月份(0-11,0代表1月)
        var myToday = myDate.getDate(); //获取当前日(1-31)
        var time1 = myYear+'-'+myMonth+'-'+myToday;
        console.log(time1);
        if(!time){
            time = time1;
        }

        var url = "{:url('statistics/pb_page')}" +  '?month=' + time+'&pa='+pa;
        var cols;
        if (language === '中文') {

            cols = [
                /* {field: 'Company_Name', title: '公司名称',sort:true, width: 100, align: 'center',totalRowText: '合计'}*/
                {checkbox:true}
                ,{field: 'date', title: '日期', width: 200, align: 'center'}
                ,{field: 'sumpage', title: '来稿页数', width: 200, align: 'center'}
                , {field: 'tjpage', title: '提交页数', minWidth: 100, align: 'center'}
                , {field: 'yppage', title: '预排页数', minWidth: 100, align: 'center'}
                , {field: 'hppage', title: '后排页数', minWidth: 100, align: 'center'}
                , {field: 'dbpage', title: '对比页数', minWidth: 100, align: 'center'}

            ];


        } else {

            cols = [
                {checkbox:true}
                ,{field: 'date', title: 'Date', width: 200, align: 'center'}
                ,{field: 'sumpage', title: 'Pages of contribution', width: 200, align: 'center'}
                , {field: 'tjpage', title: 'Submitted pages', minWidth: 100, align: 'center'}
                , {field: 'yppage', title: 'Number of pre arranged pages', minWidth: 100, align: 'center'}
                , {field: 'hppage', title: 'Number of PostFormat pages', minWidth: 100, align: 'center'}
                , {field: 'dbpage', title: 'Number of comparison pages', minWidth: 100, align: 'center'}
            ];


        }
        //console.log(cols);


        cols = [cols];


        // 生成表格
        tableIns = table.render({
            elem: '#test'
            , url: url
            , where: {}
            , toolbar: '#forwardBar'
            , defaultToolbar: ['filter', 'exports', 'print']
            , title: '排版页数统计'
            , totalRow: true
            , cols: cols
            , limit: 100, height: 'full-200',
            even: true,
            page: {
                curr: location.hash.replace('#!fenye=', ''),
                hash: 'fenye',
                limits: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            },
            //给单元格标注颜色
            done: function (res, page, count) {
                var that = this.elem.next();
                res.data.forEach(function (item, index) {
                    if (item.Completed > 0){

                        //更具自己需要加颜色或角标
                        var td = that.find(".layui-table-box tbody tr[data-index='" + index + "'] td[data-field='Completed']").css("background-color", "#a6d792");//给单元格添加颜色
                        //var td = that.find(".layui-table-box tbody tr[data-index='" + index + "'] td[data-field='deadline']").css("background", "url('../../images/timg.png') no-repeat");//给单元格添加背景图片
                    }
                })
            }
        });

        $('#sjth').click(function () {
            var checkStatus = table.checkStatus('test');
            var len = checkStatus.data.length;
            var sum1 = 0, sum2 = 0, sum3 = 0, sum4 = 0, sum5 = 0;
            for (v in checkStatus.data) {

                if (checkStatus.data[v]['sumpage']) {
                    sum1 += checkStatus.data[v]['sumpage'];
                }
                if (checkStatus.data[v]['tjpage']) {
                    sum2 += checkStatus.data[v]['tjpage'];
                }
                if (checkStatus.data[v]['yppage']) {
                    sum3 += checkStatus.data[v]['yppage'];
                }
                if (checkStatus.data[v]['hppage']) {
                    sum4 += checkStatus.data[v]['hppage'];
                }
                if (checkStatus.data[v]['dbpage']) {
                    sum5 += checkStatus.data[v]['dbpage'];
                }

            }

            var msg = "来稿总和:" + sum1 + ';平均数:' + (sum1 / len).toFixed(1) + "<br>提交总和:" + sum2 + ';平均数:' + (sum2 / len).toFixed(1)
                + "<br>预排总和:" + sum3 + ';平均数:' + (sum3 / len).toFixed(1) + "<br>后排总和:" + sum4 + ';平均数:' + (sum4 / len).toFixed(1)
                + "<br>对比总和:" + sum5 + ';平均数:' + (sum5 / len).toFixed(1);

            $('#jisuan').html(msg)
            layer.alert(msg);
            // console.log(num);
        })

        // 表格类型切换时
        form.on('select(pa)', function (data) {

            $('#sub').submit();

        });
    });
</script>


<script>
    $("input[name='month']").change(function () {
        console.log($("input[name='month']").val())
        $('#sub').submit();
    })
</script>

{/block}