{extend name="./layout/top_and_left.html" /}

{block name="username"}{:session('administrator.name')}{/block}
{block name="logout_url"}{:url('login/admin/logout')}{/block}

{block name="menu"}

    <li class="layui-nav-item">
        <a href="javascript:;" lay-href="{:url('workbench/index')}">
            <i class="iconfont icon-shichangxuanpinjichanpinguanli"></i>
            <cite>{:session('language') == '中文'? '我的工作台' : 'Workbench'}</cite>
        </a>
    </li>

{volist name="menu" id="v"}

    <li class="layui-nav-item">
        <a href="javascript:;">
            {if $v.cn_name=="FAQ"}
            <i class="iconfont {$v.icon}"></i>
            <cite>{:session('language') == '中文'? $v.cn_name : $v.en_name}{if $faq != 0}<span class="layui-badge">{$faq}</span>{/if}</cite>
            {else/}
            <i class="iconfont {$v.icon}"></i>
            <cite>{:session('language') == '中文'? $v.cn_name : $v.en_name}</cite>
            {/if}
        </a>

        {volist name="$v.z" id="vo"}
		<dl class="layui-nav-child">
            <dd>
                {if $vo.cn_name=="表格管理"}
                <a href="http://localhost/phpMyAdmin4.8.5/" target="_blank">
                    {:session('language') == '中文'? '表格管理' : 'Table Management'}
                </a>
                {elseif $vo.cn_name=="电脑软件"}
                <a href="javascript:;" lay-href="{:url($vo.url)}">{:session('language') == '中文'? $vo.cn_name : $vo.en_name}{if $software != 0}<span class="layui-badge">{$software}</span>{/if}</a>
                {elseif $vo.cn_name=="翻译问题"}
                <a href="javascript:;" lay-href="{:url($vo.url)}">{:session('language') == '中文'? $vo.cn_name : $vo.en_name}{if $translate != 0}<span class="layui-badge">{$translate}</span>{/if}</a>
                {elseif $vo.cn_name=="排版问题"}
                <a href="javascript:;" lay-href="{:url($vo.url)}">{:session('language') == '中文'? $vo.cn_name : $vo.en_name}{if $revise != 0}<span class="layui-badge">{$revise}</span>{/if}</a>
                {elseif $vo.cn_name=="项目管理"}
                <a href="javascript:;" lay-href="{:url($vo.url)}">{:session('language') == '中文'? $vo.cn_name : $vo.en_name}{if $project != 0}<span class="layui-badge">{$project}</span>{/if}</a>
                {elseif $vo.cn_name=="人事行政"}
                <a href="javascript:;" lay-href="{:url($vo.url)}">{:session('language') == '中文'? $vo.cn_name : $vo.en_name}{if $work != 0}<span class="layui-badge">{$work}</span>{/if}</a>
                {else/}
                <a href="javascript:;" lay-href="{:url($vo.url)}">{:session('language') == '中文'? $vo.cn_name : $vo.en_name}</a>
                {/if}
            </dd>
		</dl>
        {/volist}

    </li>

{/volist}

<script type="text/javascript" src="__STATIC__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/layer/3.1.1/layer.js"></script>
<script>
    var tq_status = {$tq_status};
    var job_id = {$job_id};
    var translate = {$translate};
    var revise = {$revise};


    //提示查看
    if(tq_status == 1){
        if(job_id == 10 || job_id == 11){
            if(translate != 0){
                var str = '您有'+translate+'个翻译问题FAQ未查看，请尽快查看';

                layer.open({
                    title: '消息'
                    ,content: str
                });
                /*  var purl='/admin/faq/fanyi';
                  window.open(purl);*/
            }
        }else if(job_id == 12 || job_id == 13){
            if(revise != 0){
                var str = '您有'+revise+'个排版问题FAQ未查看，请尽快查看';

                layer.open({
                    title: '消息'
                    ,content: str
                });
                /* var purl='/admin/faq/paiban';
                 window.open(purl);*/
            }

        }
    }

</script>

{/block}

{block name="iframe_url"}

{:url('admin/index/welcome')}

{/block}
