{extend name="./layout/list.html" /}

{block name="body"}

<div class="hn_body">
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="top">
				<div class="position_lead">
					<i class="iconfont icon-navigation"></i>
					<a href="#">{:session('language') == '中文'? 'FAQ' : 'Project Management'}</a>
					<a class="on">{:session('language') == '中文'? '常见问题' : 'Contract Review'}</a>
				</div>
                <div class="global_btn">
                    <button class="layui-btn" id="save">{:session('language') == '中文'? '保存' : 'Save'}</button>

                    <a href="javascript:history.back(-1);">
                        <button class="layui-btn layui-btn-primary" type="button">{:session('language') == '中文'? '返回' : 'Back'}</button>
                    </a>
                </div>
            </div>
            <div>
               <div style="text-align: center;font-size: 30px;font-weight:bold;"> <span>{$info.title}</span></div>
                <div style="margin:50px 200px;">{$info.content|raw}</div>

            </div>
        </div>
    </div>

</div>

{/block}

{block name="js"}

{js href="__JS__/xm-select.js"}

<script>
	layui.use(["jquery", "form", "layedit"], function () {
		var $ = layui.jquery
				,upload = layui.upload
				,layedit = layui.layedit
				,form = layui.form;
		//注意：layedit.set 一定要放在 build 前面，否则配置全局接口将无效。
		layedit.set({
			uploadImage: {
				url: "{:url('upload')}" //图片上传接口
				,type: 'post' //默认post
			}
		});
		var index = layedit.build('demo'); //建立编辑器
		//提交时把值同步到文本域中
		form.verify({
			//content富文本域中的lay-verify值
			content: function (value) {
				return layedit.sync(index);
			}
		});


		// 数据提交
		$('#save').on('click', function () {
			// 表单提交
			$('#form').submit();
		});
	})


</script>
{/block}