{extend name="./layout/list.html" /}

{block name="body"}

<div class="hn_body">
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="top">
				<div class="position_lead">
					<i class="iconfont icon-navigation"></i>
					<a href="#">{:session('language') == '中文'? '项目管理' : 'Task Estimation'}</a>
					<a class="on">{:session('language') == '中文'? '项目预估' : 'Base Info'}</a>
				</div>
                <div class="global_btn">

                    <button class="layui-btn" id="save">{:session('language') == '中文'? '保存' : 'Save'}</button>

                    <a href="javascript:history.back(-1);">
                        <button class="layui-btn layui-btn-primary" type="button">{:session('language') == '中文'? '返回' : 'Back'}</button>
                    </a>
                </div>
            </div>
            <div class="mainCt mainSec formReset signLimit">
                <div class="mainWrap">

                    <form class="layui-form" id="form" method="post" action="{:url('save')}">

                        <div class="layui-row layui-col-space10">

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '项目名称' : 'pre_formatter'}">
                                        {:session('language') == '中文'? '项目名称' : 'pre_formatter'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="pj_name" lay-verify="required" value="" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '工作天数' : 'pre_formatter'}">
                                        {:session('language') == '中文'? '工作天数' : 'pre_formatter'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="work_days" lay-verify="required" value="" autocomplete="off" placeholder="" class="layui-input" type="text" id="work_days">
                                    </div>
                                </div>
                            </div>

							<div class="layui-col-xs4">
							    <div class="layui-form-item">
							        <label class="layui-form-label" title="{:session('language') == '中文'? '预排版人数' : 'pre_formatter'}">
							            {:session('language') == '中文'? '预排版人数' : 'pre_formatter'}
							        </label>
							        <div class="layui-input-block">
							            <input name="pre_formatter" lay-verify="required" value="" autocomplete="off" placeholder="" class="layui-input" type="text">
							        </div>
							    </div>
							</div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '预排版每日工作页数' : 'pre_page	'}">
                                        {:session('language') == '中文'? '预排版每日工作页数' : 'pre_page	'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="pre_page" lay-verify="required" value="" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '翻译人数' : 'translator'}">
                                        {:session('language') == '中文'? '翻译人数' : 'translator'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="translator" lay-verify="required" value="" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '翻译每日工作页数' : 'trs_page'}">
                                        {:session('language') == '中文'? '翻译每日工作页数' : 'trs_page'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="trs_page" lay-verify="required" value="" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '校对人数' : 'revisor'}">
                                        {:session('language') == '中文'? '校对人数' : 'revisor'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="revisor" lay-verify="required" value="" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '校对每日工作页数' : 'rev_page'}">
                                        {:session('language') == '中文'? '校对每日工作页数' : 'rev_page'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="rev_page" lay-verify="required" value="" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '后排版人数' : 'post_formatter'}">
                                        {:session('language') == '中文'? '后排版人数' : 'post_formatter'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="post_formatter" lay-verify="required" value="" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '后排版每日工作页数' : 'post_page'}">
                                        {:session('language') == '中文'? '后排版每日工作页数' : 'post_page'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="post_page" lay-verify="required" value="" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item layui_ic">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '提交时间' : 'Translation Start Time'}">
                                        {:session('language') == '中文'? '提交时间' : 'Translation Start Time'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input class="Date layui-input" name="submit_date" type="text" onblur="workDays()" id="submit_date">
                                        <i class="layui-icon layui-icon-date"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" title="{:session('language') == '中文'? '提交总页数' : 'post_page'}">
                                        {:session('language') == '中文'? '提交总页数' : 'post_page'}
                                    </label>
                                    <div class="layui-input-block">
                                        <input name="submit_page" lay-verify="required" value="" autocomplete="off" placeholder="" class="layui-input" type="text">
                                    </div>
                                </div>
                            </div>

							<input type="hidden" name="id" value="" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{/block}

{block name="js"}

{js href="__JS__/xm-select.js"}

<script>

	layui.use(['form','laydate'], function () {
		var form = layui.form, laydate = layui.laydate,layer = layui.layer;

		//同时绑定多个,单个日期选择，显示在input里面
        $('.Date').click(function () {
            laydate.render({
                elem: this
                ,trigger: 'click'
                ,theme: '#1B3382'
                ,position: 'fixed'
                //,isInitValue: true
                //,value: new Date()
                //,type:'datetime'
                ,format: 'yyyyMMdd'
            });
        });



		// 表单验证
		var validatorFunc = function () {
			var validator = new Validator();

			// 必填项
			validator.add('pre_formatter', [{
				rule: 'require',
				msg: '预排版人数不能为空'
			}]);

			validator.add('pre_page', [{
				rule: 'require',
				msg: '预排版每日工作页数不能为空'
			}]);

			validator.add('translator', [{
				rule: 'require',
				msg: '文翻译人数不能为空'
			}]);


            /*validator.add('Translator', [{
                rule: 'require',
                msg: '翻译人员不能为空'
            }]);

            validator.add('Reviser', [{
                rule: 'require',
                msg: '校对人员不能为空'
            }]);

            validator.add('Pre_Formatter', [{
                rule: 'require',
                msg: '预排版人员不能为空'
            }]);

            validator.add('Post_Formatter', [{
                rule: 'require',
                msg: '后排版人员不能为空'
            }]);*/


			return validator.start();
		};



		// 数据提交
		$('#save').on('click', function () {

			// 表单验证
			var errorMsg = validatorFunc();
			if (errorMsg) {
				layer.alert(errorMsg, {title: '提示'});
				return false;
			}

			// 表单提交
			$('#form').submit();
		});

        window.workDays=function() {
            var day = $('#work_days').val();
            if(day == ''){
                alert('工作天数不能为空');
                return false;
            }

            var sub_date = $('#submit_date').val();
            $.ajax({
                //请求方式
                type : "get",
                //请求地址
                url : "{:url('pj_people/check')}",
                //数据，json字符串
                data : {'day':day,'sub_date':sub_date},
                //请求成功
                success : function(result) {
                    if(result.code ==6666){
                        layer.msg("工作天数填写错误。注意：周末不计算在内!如果自定义天数可忽略提示");
                    }

                },
                //请求失败，包含具体的错误信息
                error : function(e){
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
        }
	})
</script>
{/block}